{% extends "layout.html" %}

{% block title %}
    Login 
{% endblock %}

{% block main %}

<h5>New User? Please <a class="nav-link" href="/register">Register</a></h5>
    
    <form action="/login" method="POST">
        
        <a class="list-group-item list-group-item-action" href="/register">Register</a>
        <a class="list-group-item list-group-item-action" href="/login">Login</a>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password" required>
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}