{% extends "layout.html" %}

{% block title %}
Register
{% endblock %}

{% block main %}
<div class="height"></div>
<div class="loginbox">
    <form action="/register" method="POST" class="border">
        <span>Register</span>
        <div class="seperation"></div>
        <div class="space"></div>
        <div class="username">Username</div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control enter" name="username" placeholder="Username" type="text"
                required>
        </div>
        <div class="space"></div>
        <div class="username">Password</div>
        <div class="form-group">
            <input class="form-control enter" name="password" placeholder="Create Password" type="password" required>
        </div>
        <div class="space"></div>
        <div class="username">Confirm Password</div>
        <div class="form-group">
            <input class="form-control enter" name="confirm" placeholder="Confirm Password" type="password" required>
        </div>
        <div class="button-container">
            <button class="primary" type="submit">Submit</button>
        </div>
    </form>
</div>
<div class="button">
    <span class="reg">
        Already Registered?
        <a class="newuser" href="/login">Login</a>
    </span>
</div>
{% endblock %}